<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{ title }} | putsnip |</title>
    <script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>

    <script type="text/javascript" src="/static/js/jquery.tagsinput.js"></script>
    <link rel="stylesheet" href="/static/css/jquery.tagsinput.css"/>
    <script type="text/javascript" src="/static/lib/syntax/scripts/XRegExp.js"></script>
    <script type="text/javascript" src="/static/lib/syntax/scripts/shCore.js"></script>
    <script type="text/javascript" src="/static/lib/syntax/scripts/shAutoloader.js"></script>

    <link rel="stylesheet" href="/static/lib/syntax/styles/shCore.css"/>
    <link rel="stylesheet" href="/static/lib/syntax/styles/shThemeDefault.css"/>

    <link rel="stylesheet" href="/static/css/main.css">

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36933330-1']);
        _gaq.push(['_setDomainName', 'putsnip.com']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
<div id="main_container">
    <div id="title">
        <div id="logo">
            <a href="/">put<span class="special">snip</span></a>
        </div>
        <a href="/add" id="add_btn" onmouseover="$('#msg').html('Add Snippet');"
           onmouseout="$('#msg').html('');"></a>


        <div class="search">
            <form name="searchForm" onsubmit="return runSearch();">
                <label style="font-size: 12px; font-weight: normal;">
                    <input id="search" type="text" name="q" placeholder="search"/>
                </label>
                <input type="submit" value="go"/>
            </form>
        </div>
        <div class="user">
            {% if ac %}
                <a href="/u/{{ ac.usr }}">{{ ac.usr }}</a> ::
                <a href="/login">logout</a>
            {% else %}
                <a href="/login">login or register</a>
            {% endif %}
        </div>
        <div id="msg" class="mini_info"></div>
    </div>


    <div id="left">
        {% block left %}{% endblock %}
    </div>

    <div id="right">
        {% block right %}
            <span class="block_title">Advertisements (duh right?)</span>
            <div class="block">Waiting for AdSense approval :P</div>
            <span class="block_title">Popular Tags</span>
            <div class="block">
                {% include 'tags.html' %}
            </div>
        {% endblock %}
    </div>

</div>
<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>