{% extends 'main.html' %}

{% block left %}
    <div class="block_title">
        <div class="vote">
            <a href="/uv/{{ snip.key }}" class="layer">
                <img src="/static/img/up{% if snip.my_vote == 1 %}_over{% endif %}.jpg" alt="down vote">
            </a>
            <span class="layer">{{ snip.points }}</span>
            <a href="/dv/{{ snip.key }}" class="layer">
                <img src="/static/img/down{% if snip.my_vote == -1 %}_over{% endif %}.jpg" alt="down vote">
            </a>
        </div>
        <span style="padding: 15px 5px;float:left;">
            {% firstof snip.title 'Untitled' %}
        </span>
    </div>
    <div class="block" style="font-size: 14px; margin-left: -15px;">
        <script type="syntaxhighlighter" class="wrap brush: {% firstof snip.lan 'plain' %}">
            <![CDATA[{{ snip.code|safe }}]]>
        </script>
    </div>
    {% if snip.desc %}
        <div class="block" style="padding: 5px 5px; font-size: 14px; background-color: #f7f7f7;">
            <span class="mini_info" style="font-weight: bold;">description</span><br/>
            <pre>{{ snip.desc }}</pre>
        </div>
        <span class="block_space"></span>
    {% endif %}
    <span class="mini_info">
        Submitted by <a href="/u/{{ snip.usr }}">{{ snip.usr }}</a>, datetime: {{ snip.datetime }}<br/>
        {{ snip.points }} points, {{ snip.views }} views
    </span>
    <span class="block_space"></span>

    <div class="block_title">tags</div>
    <div class="block tags">
        {% firstof snip.tags 'none' %}
    </div>
{% endblock %}